/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}


/**
 * Другие стили
 */
.navbar {
	width: 100%;
	height: 80px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
	margin-bottom: 80px;
}

.navbar .container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	cursor: default;
}

.navbar-menu li {
	display: inline-block;
}

.navbar-menu li a {
	display: inline-block;
	font-size: 1.1em;
	color: #000;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	transition: all .1s ease-in-out;
}

.navbar-menu li a:hover {
	color: rgb(255, 127, 32);
	/*opacity: 1;*/
}

.navbar-menu li .current {
	opacity: 0.9;
	font-size: 1.25em;
}

.navbar-menu li .current:hover {
	opacity: 0.9;
	color: #000;
	cursor: inherit;
}

.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
}

.callback {
	margin-left: 30px;
	padding: 10px 30px;
	background-color: coral;
	border-radius: 100px;
	color: #fff;
	text-decoration: none;
	transition: all .11s ease-out;
}

.callback:hover {
	transform: scale(1.02);
	box-shadow: 0 7px 10px rgba(255, 127, 80, .5);
	color: #fff;
}

.navbar-brand {
	font-weight: 700;
	font-size: 28px;
	text-decoration: none;
	color: #000;
	transition: all .1s ease-in-out;
}

.navbar-brand:hover {
	color: coral;
}

/*main part*/

.header {
	margin-top: 100px;
}

.header-content h1 {
	font-size: 34px;
	font-weight: 700;
	margin-bottom: 10px;
}

.header-content h4 {
	font-size: 22px;
	font-weight: 400;
}

main {
	text-align: center;
}

main p {
	font-size: 1.4em;
    line-height: 150%;
	margin-bottom: 1em;
}

.input {
    margin-bottom: 1em;
    margin-top: 2em;
}

.numberInput {
	position: relative;
    width: 250px;
    height: 40px;
    padding: 1.1em 0.75em;
	margin: 9px 9px;
    font-family: inherit;
    font-size: 1.2em;
    border: 1px solid #bdbdbd;
    border-radius: 0.25em;
    background-clip: padding-box;
    transition: box-shadow 0.2s ease-in-out;
}

.numberInput:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(158, 158, 158, 0.25);
}

.solveIt {
    background-color: rgb(255, 176, 86);
	border-style: none;
	text-transform: uppercase;
	height: 45px;
	width: 250px;
    font-size: 1.2rem;
	font-weight: 700;
	margin-top: 0;
	padding: 5px;
    margin-bottom: 2em;
    border-width: 2px;
    border-radius: 100px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, .3);
    transition: all 0.1s ease-in-out;
}

.solveIt:hover {
	background-color: #fffcee;
	border: solid 3px rgb(255, 176, 86);
}

.solveIt:active {
    background-color: #e9e9e9;
    transform: scale(0.98);
}

.solveIt:focus {
    outline: none;
    box-shadow: 0 0 0 2px lightskyblue;
}

.answers dl {
    width: 50%;
    margin: 0% auto;
    border: 3px double #ccc;
    padding: 1em;
    padding-left: 3em;
}

.answers dt {
    font-size: 1.2em;
    float: left;
    clear: left;
    max-width: 100px;
    text-align: right;
    font-weight: bold;
    color: black;
}

.answers dt:hover {
	cursor: default;
}

.answers dt::after {
    content: ":";
}

.answers dd {
    margin: 0 0 0 110px;
    font-size: 1.25em;
    padding: 0 0 0.5em 0;
}

@media (max-width: 1400px) {
	.navbar {
		height: 60px;
	}

	.navbar-menu li a {
		font-size: 1em;
	}

	.navbar-menu li .current {
		font-size: 1.1em;
	}

	.navbar-brand {
		font-size: 24px;
	}

	.header-content h1 {
		font-size: 32px;
	}

	.header-content h4 {
		font-size: 20px;
	}

	main p {
		font-size: 1.3em;
	}

	.numberInput {
		font-size: 1.1em;
		width: 230px;
		margin: 7px 7px;
	}

	.solveIt {
		height: 40px;
		width: 270px;
		font-size: 1.1em;
	}

	.answers dd {
		font-size: 1.1em;
		padding-left: 0em;
	}
}

@media (max-width: 1200px) {
	.navbar-menu li a {
		font-size: 0.9em;
	}

	.navbar-menu li .current {
		font-size: 1em;
	}

	.navbar-brand {
		font-size: 22px;
	}

	.header-content h1 {
		font-size: 30px;
	}

	.header-content h4 {
		font-size: 18px;
	}

	main p {
		font-size: 1.1em;
	}

	.numberInput {
		font-size: 1.05em;
		width: 190px;
		margin: 6px 6px;
	}

	.solveIt {
		width: 240px;
		font-size: 1em;
	}

	.answers dl {
		width: 75%;
	}

	.answers dt {
		font-size: 1em;
	}
}

@media (max-width: 992px) {
	.navbar-menu li a {
		font-size: 0.85em;
	}

	.navbar-menu li .current {
		font-size: 0.95em;
	}

	.navbar-brand {
		font-size: 20px;
	}

	.header-content h1 {
		font-size: 28px;
	}

	.header-content h4 {
		font-size: 16px;
	}

	main p {
		font-size: 0.95em;
	}

	.numberInput {
		font-size: 1em;
		width: 170px;
		height: 35px;
		margin: 5px 5px;
	}

	.solveIt {
		height: 35px;
		width: 200px;
		font-size: 0.9em;
	}

	.answers dt {
		font-size: 0.95em;
	}

	.answers dd {
		font-size: 1em;
		padding: 0.4em;
	}
}

@media (max-width: 768px) {
	.navbar-menu li a, .navbar-menu li .current {
		font-size: 0.8em;
		padding: 5px;
	}

	.navbar-brand {
		font-size: 18px;
	}

	.header-content h1 {
		font-size: 24px;
	}

	.header-content h4 {
		font-size: 15px;
	}

	main p {
		font-size: 0.9em;
	}

	.numberInput {
		font-size: 0.9em;
		width: 130px;
	}

	.solveIt {
		width: 180px;
		font-size: 0.8em;
	}

	.answers dl {
		width: 90%;
	}

	.answers dt {
		font-size: 0.9em;
	}

	.answers dd {
		font-size: 0.9em;
		padding: 0.2em;
	}
}

@media (max-width: 576px) {
	.navbar-menu {
		margin-left: 40px;
	}

	.navbar-menu li a, .navbar-menu li .current {
		font-size: 0.75em;
	}

	.navbar-brand {
		font-size: 16px;
	}

	.header-content h1 {
		font-size: 20px;
	}

	.header-content h4 {
		font-size: 14px;
	}

	main p {
		font-size: 0.8em;
	}

	.numberInput {
		font-size: 0.85em;
		width: 100px;
		height: 20px;
		margin: 3px 0px;
	}

	.solveIt {
		height: 30px;
		width: 130px;
		font-size: 0.75em;
	}

	.answers dl {
		width: 95%;
	}

	.answers dt {
		font-size: 0.8em;
	}

	.answers dd {
		font-size: 0.8em;
	}
}

/*@media (max-width: 376px) {
	.navbar {
		height: 60px;
		margin-bottom: 30px;
	}

	.navbar-menu {
		margin-left: 40px;
	}

	.navbar-menu li a, .navbar-menu li .current {
		font-size: 0.75em;
	}

	.navbar-brand {
		font-size: 18px;
	}

	.header-content h1 {
		font-size: 20px;
	}

	.header-content h4 {
		font-size: 14px;
	}

	main p {
		font-size: 0.8em;
	}

	.numberInput {
		font-size: 0.85em;
		width: 100px;
		height: 20px;
		margin: 3px 0px;
	}

	.solveIt {
		height: 30px;
		width: 130px;
		font-size: 0.75em;
		padding: 5px;
		margin-top: 0;
	}

	.answers dl {
		width: 95%;
	}

	.answers dt {
		font-size: 0.8em;
	}

	.answers dd {
		font-size: 0.8em;
		padding: 0.2em;
		padding-left: 0em;
	}
}*/